@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #fff, inset 0 0 8px #fff; }
  50% { box-shadow:0 0 16px #fff, inset 0 0 14px #fff; }
  100% { box-shadow:0 0 8px #fff, inset 0 0 8px #fff; }
}

.body {
  width:17.5%;
  margin: 0;
  position: absolute;
  z-index: 9999;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.inner:link {
  background-color:#000;
  width:9px;
  height:9px;
  border-radius:100px;
  box-shadow: 0 0 25px #fff, inset 0 0 25px #fff;
  -webkit-animation: none;
}

.inner:hover {
  opacity: 1;
  background-color:white;
  width:9px;
  height:9px;
  border-radius:100px;
  box-shadow: 0 0 25px #fff, inset 0 0 25px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
}

.inner:active {
  background-color:white;
  width:9px;
  height:9px;
  border-radius:100px;
  box-shadow: 0 0 20px #fff, inset 0 0 20px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
}

.inner:after {
  background-color:white;
  opacity: .5;
  width:9px;
  height:9px;
  border-radius:100px;
  box-shadow: 0 0 20px #fff, inset 0 0 20px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
}

.inner {
  background-color:white;
  opacity: .5;
  width:9px;
  height:9px;
  border-radius:100px;
  box-shadow: 0 0 20px #fff, inset 0 0 20px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
}

li.dot {
  display: inline;
  float: left;
  position: relative;
  display: block;
  padding: 15px;
  vertical-align: middle
}

/*a.dot {
    display: block;
    padding: 12px;
}*/

.currentLink {
   opacity: 1;
   width: 12px;
   height: 12px;
}

.currentLink:hover {
  background-color: white;
  opacity: 1;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  box-shadow: 0 0 30px #fff, inset 0 0 30px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
}

/*ul.dot {
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
}*/