body{ margin: 0; overflow: hidden; }
#c{ background: #000; }

/* ------------------ */
canvas:hover {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}


button {
  position: absolute;
  float: left;
  display: inline;
  top: 20px;
  left: 20px;
}

#stop {
  left: 100px;
}